@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.navBar{
    padding: 1em;
    width: 100%;
    top: 0;
}

.navBarList{
    list-style: none;
    display: flex;
    justify-content: end;
}

.navBarItem{
    margin-left: 20px;
}

.navBarItem a{
    text-decoration: none;
    color: black;
    font-family: "Comfortaa", sans-serif;
    font-size: 1.2rem;
    transition: .3s;
}

.navBarItem a:hover{
    color: white;
}